@import "tailwindcss";

:root {
  --background: #0f0819;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(circle at top, #30204d 0%, #171024 40%, #0b0713 100%);
  color: white;
  overflow-x: hidden;
  min-height: 100vh;
}